@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);* {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightseagreen;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

body h1 {
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px #FF0000;
  letter-spacing: 0.5rem;
  margin-top: 4rem;
}

body .list {
  background-color: darkslategrey;
  margin-top: 7rem;
}

body .list a {
  text-decoration: none;
  color: black;
  display: block;
}

body .list .cards {
  padding: 4rem 0;
  display: flex;
  overflow-x: auto;
  border-top: solid 4px white;
  border-bottom: solid 4px white;
}

body .list .card {
  margin: 0 2rem;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: darkcyan;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

body .list .card .content {
  padding: 1rem;
  width: 300px;
}

body .list .card .content h2 {
  text-shadow: 2px 2px black;
  margin-bottom: 1rem;
}

body .list .card .content p {
  color: black;
  font-weight: bold;
  font-size: small;
  letter-spacing: 0.2rem;
  margin: 1rem 0;
}

body .list .card .content p .text {
  text-transform: uppercase;
}

body .list .card .content b,
body .list .card .content .text {
  text-shadow: 2px 2px red;
}

